.volume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: .3rem;
}

.volume-container > button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 1rem;
}