.video-container {
    width: 100%;
    min-height: 90vh;
    background-color: #f00;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.video-container .action-container {
    padding: .5rem;
    color: var(--button-text-color);
    background-color: #00f;
    justify-content: space-around;
    place-items: center;
}